body{
    background-color: #333333;
    color: #EEEEEE;
    max-width: 75vw;
    max-height: 90vh;
    padding :0vh 10vw 0vh 10vw;
}
p {
    font-size: 12px;
}
a:hover{
    color:cyan;
}
a:visited{
    color:darkcyan;
}
a:link{
    color: turquoise;
}