body{
    background-color: #333333;
    color: #EEEEEE;
    width: 75vw;
    height: 90vh;
    padding :0vh 10vw 0vh 10vw;
    font-size: 20px;
}
.links{
    padding: 0 0 0 0;
    text-align: left;
}
a:hover{
    color:cyan;
}
a:visited{
    color:darkcyan;
}
a:link{
    color: turquoise;
}